<table class="table">
    <thead>
        <tr>
            <td>Vardas</td>
            <td>El., paštas</td>
            <td>Slaptažodis</td>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.password}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

