<div class="container">
    <table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Vardas</th>
            <th>El., paštas</th>
            <th>Slaptažodis</th>
            <th>Koreguoti</th>
            <th>Trinti</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.password}}</td>
            <td><button>Koreguoti</button></td>
            <td><button>Trinti</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
